name: Build ido (iOS 8-12)

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        run: |
          brew install ldid
          curl -L -o ~/ct_bypass https://github.com/haxi0/ChOma/releases/download/0.3/ct_bypass
          chmod +x ~/ct_bypass

      - name: Build for iOS 8+ (32-bit + 64-bit)
        run: |
          make clean
          make ARCHS="armv7 arm64" MIN_IOS=8.0
          file pseudo_unsigned
          ls -lah pseudo*

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: ido-universal-binary
          path: pseudo*
